* {
  border: 0;
  margin: 0;
  box-sizing: border-box;
}

h1 {
  font-size: 3rem;
}

h3 {
  font-size: 2rem;
}

h4 {
  font-size: 1.5rem;
}
h1,
h2,
h3,
h4 {
  font-weight: 700;
}
.container{
  margin-top: 7em;
}
.reset{
    display: block;
    padding: 30px;
    background-color: #eeeeee;
    text-align: center;
    width: 70%;
    margin: 40px auto;
}
form{
    padding: 20px;
    width: 70%;
    margin: 20px auto;
}
form input{
  border-radius: 10px;
  box-shadow: inset 1px 1px 2px #bbbbbb, inset -1px -1px 2px #b1b1b1;
  padding: 10px;
  width: 100%;
  outline: none;
  margin: 5px auto;
}
input[type=checkbox]{
  width: auto;
  margin:auto 3px;
}
 .showPWD,
 form p small{
  font-size: .6em;
  float: right;
  color: #333333;
}

.button {
  margin: 20px auto;
  font-weight: 600;
  width: 100%;
  padding: 10px;
  font-size: 1em;
  color: #ffffff;
  cursor: pointer;
  border-radius: 10px;
  background: #d11919;
  box-shadow: 1px 1px 2px #131313, -1px -2px 2px #131313;
}
.button:hover {
  text-decoration: underline;
}
.mail{
  height: 20%;
}

#check_mail{
  display: none;
}
@media only screen and (max-width: 767px){
  form{
    width: 100%;
  }
  .reset{
    width: 80%;
  }
}
@media only screen and (max-width: 448px){
 
  .reset{
    width: 100%;
  }
}