
/*    -----------   login form ------------  */

.login-form {
  padding: 40px;
  margin: 120px auto;
  width: 70%;
  font-size: 0.9em;
  border-radius: 30px;
  background: #ebebeb;
  box-shadow: 10px 10px 20px #b1b1b1, -10px -10px 20px #ffffff;
}
.form {
  padding: 20px;
  display: block;
  text-align: center;
  background-color: #ededed;
}
.reg-form {
  margin: 0 auto;
}
.form input {
  width: 90%;
  padding: 10px;
  margin: 14px auto;
  border-radius: 30px;
  background: #eeeeee;
  box-shadow: inset 10px 12px 24px #dedede, inset -12px -12px 24px #dedede;
  color: #000000;
}
.miniText {
  font-size: 0.8em;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.form input[type="submit"] {
  margin: 20px;
  font-weight: 600;
  padding: 7px 16px;
  color: #ffffff;
  cursor: pointer;
  border-radius: 20px;
  background: #2c98d6;
  box-shadow: 2px 2px 3px #b4b3b3, -2px -2px 3px #cac9c9;
}
.form input[type="submit"]:hover {
  text-decoration: underline;
}
.form input:focus {
  outline: none;
}
input[type="checkbox"] {
  width: auto;
  padding: 0;
  box-shadow: none;
}
#gender {
  padding: 10px 0 10px 2em;
  text-align: left;
}
.gender {
  display: block;
  position: relative;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.gender-type{
  display: flex;
  justify-content: space-around;
  /* margin-right: 9em; */
}
/* Hide the browser's default radio button */
.gender input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

/* Create a custom radio button */
.checkmark {
  position: absolute;
  top: 0;
  left: -2em;
  height: 25px;
  width: 25px;
  background-color: #eee;
  border-radius: 50%;
}

/* On mouse-over, add a grey background color */
.gender:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the radio button is checked, add a blue background */
.gender input:checked ~ .checkmark {
  background-color: #2c98d6;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the indicator (dot/circle) when checked */
.gender input:checked ~ .checkmark:after {
  display: block;
}

/* Style the indicator (dot/circle) */
.gender .checkmark:after {
 	top: 9px;
	left: 9px;
	width: 8px;
	height: 8px;
	border-radius: 50%;
	background: white;
}

.form .tab-header {
  height:50px;
  line-height:50px;
}
.form .tab-header > div {
  width:50%;
  float:left;
  text-align:center;
  background:#fff;
  color:#000;
  cursor:pointer;
  margin-bottom: 10px;
}
.form .tab-header > div.active-form {
  background:#2c98d6;
  color: #fff;;
}
.form .tab-content > div.active-form {
  display:block;
}
.form .tab-content > div {
  display:none;
}
.brand-header span {
  color: #2c98d6;
}
.brand-header {
  color:#131313;
  font-size: 2.4em;
}
.brand-header:hover {
  text-decoration: none;
}
p.motto {
  margin-bottom: 0;
}
.form-heading {
  font-size: 2em;
  margin-bottom: 15px;
  font-weight: 100;
}
.img-fluid {
  height: 570px;
  padding-top: 2em;
}
.img-fluid-reg {
  height: 59em;
}
.admin-form {
  padding-top: 100px;
}


@media (max-width: 867px) {
  .form-img {
    display: none;
  }
  .login-form {
    width: 100%;
  }
  .admin-form {
    padding-top: 0rem;
  }
}