* {
  border: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-size: 18px;
}
h1 {
  font-size: 3rem;
}

h3 {
  font-size: 2rem;
}

h4 {
  font-size: 1.5rem;
}
h1,
h2,
h3,
h4 {
  font-weight: 700;
}
/*    -----------   navbar ------------  */
.navbar {
  background-color: #26272b;
  display: flex;
  padding: 20px;
  justify-content: space-between;
}
.navbar-brand {
  color: #ffffff;
  font-size: 1.2em;
}
.navbar-brand span {
  color: #2c98d6;
}
.nav-link {
  color: #ffffff;
  font-weight: 600;
}
.nav-link:hover {
  text-decoration: underline;
}
.nav-item .btn {
  background-color: #2c98d6;
  color: #ffffff;
  margin-right: 7px;
}

/*    -----------   login form ------------  */

.login-form {
  padding: 40px;
  margin: 120px auto 80px auto;
  width: 70%;
  font-size: 0.9em;
  border-radius: 30px;
  background: #ebebeb;
  box-shadow: 10px 10px 20px #b1b1b1, -10px -10px 20px #ffffff;
}
.form {
  padding: 20px;
  display: block;
  text-align: center;
  background-color: #ededed;
}
.form input {
  width: 90%;
  padding: 10px;
  margin: 14px auto;
  border-radius: 30px;
  background: #eeeeee;
  box-shadow: inset 10px 12px 24px #dedede, inset -12px -12px 24px #dedede;
  color: #000000;
}
.miniText {
  font-size: 0.8em;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.form input:nth-child(6) {
  margin: 20px;
  font-weight: 600;
  padding: 7px 16px;
  color: #ffffff;
  cursor: pointer;
  border-radius: 20px;
  background: #2c98d6;
  box-shadow: 2px 2px 3px #131313, -2px -2px 3px #131313;
}
.form input:nth-child(6):hover {
  text-decoration: underline;
}
.form input:focus {
  outline: none;
}
input[type="checkbox"] {
  width: auto;
  padding: 0;
  margin: none;
  color: #000000;
}

/*    -----------   Carousel  ------------  */

.carousel-item {
  height: 90%;
}
.carousel-caption {
  background-color: rgba(0, 0, 0, 0.3);
  width: 70%;
}
.carousel-caption h2 {
  font-size: 3em;
  margin: 5px auto;
}
.carousel-caption h3 {
  font-size: 2em;
  margin: 10px auto;
}

.button {
  margin: 20px;
  font-weight: 600;
  padding: 7px 16px;
  color: #ffffff;
  cursor: pointer;
  border-radius: 20px;
  background: #2c98d6;
  box-shadow: 2px 2px 3px #131313, -2px -2px 3px #131313;
}
.button:hover {
  color: #ffffff;
}

.blue-header {
  color: #2c98d6;
  margin: 10px auto;
}

.steps {
  padding: 20px;
  margin: 30px auto;
}
.card {
  display: block;
  text-align: center;
}
.card-body p {
  font-size: 1.1em;
  font-weight: 700;
}
.search {
  padding: 20px;
  margin: 20px auto;
}
.searchBar {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 7px;
}

.search input {
  border: 1px solid #2c98d6;
  padding: 10px;
  outline: none;
}
.search-btn {
  padding: 10px;
  background-color: #2c98d6;
  color: #ffffff;
  font-size: 1.2em;
  font-weight: 400;
}

.listing {
  padding: 20px;
  display: block;
  text-align: center;
  margin: 20px auto;
  background-color: #fefefe;
}
.listing-item {
  margin: 10px auto;
}
.listing-text {
  font-weight: 700;
}
.listing img {
  width: 650px;
  height: 365px;
}

.testimonial {
  background-color: #ededed;
  height: 300px;
  margin: 30px auto;
}

.testimonial-item {
  text-align: center;
  margin-top: 50px;
}

.testimonial-item .fa {
  font-size: 3rem;
}

/*    -----------   footer  ------------  */
.site-footer {
  background-color: #26272b;
  padding: 45px 0 20px;
  font-size: 15px;
  line-height: 24px;
  color: #737373;
}
.site-footer hr {
  border-top-color: #bbb;
  opacity: 0.5;
}
.site-footer hr.small {
  margin: 20px 0;
}
.site-footer h6 {
  color: #fff;
  font-size: 16px;
  text-transform: uppercase;
  margin-top: 5px;
  letter-spacing: 2px;
}
.site-footer a {
  color: #737373;
}
.site-footer a:hover {
  color: #3366cc;
  text-decoration: underline;
}
.footer-links {
  padding-left: 0;
  list-style: none;
}
.footer-links li {
  display: block;
}
.footer-links a {
  color: #737373;
}
.footer-links a:active,
.footer-links a:focus,
.footer-links a:hover {
  color: #3366cc;
  text-decoration: none;
}
.footer-links.inline li {
  display: inline-block;
}
.site-footer .social-icons {
  display: flex;
  flex-direction: row;
  padding: 10px;
  margin-left: -30px;
}

.social-icons a {
  color: #818a91;
  display: inline-block;
  margin: 3px;
  font-size: 1rem;
  border-radius: 100%;
  background-color: #ededed;
  padding: 12px;
  border-radius: 100%;
  -webkit-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
}
.social-icons a:active,
.social-icons a:focus,
.social-icons a:hover {
  color: #fff;
  background-color: #29aafe;
}
.social-icons.size-sm a {
  line-height: 34px;
  height: 34px;
  width: 34px;
  font-size: 14px;
}
.social-icons a.facebook:hover {
  background-color: #3b5998;
}
.social-icons a.twitter:hover {
  background-color: #00aced;
}
.social-icons a.linkedin:hover {
  background-color: #007bb6;
}
.social-icons a.dribbble:hover {
  background-color: #ea4c89;
}

/* media queires for responsiveness */
@media (max-width: 867px) {
  .carousel-caption h2 {
    font-size: 2em;
  }
  .carousel-caption h3,
  .steps h3 ,
  .search h3,
  .listing h3{
    font-size: 1.4em;
  }
  .social-icons li.title {
    display: block;
    margin-right: 0;
    font-weight: 600;
  }
  .form-img {
    display: none;
  }
  .login-form {
    width: 100%;
  }
}

@media (max-width: 723px) {
  .carousel-item {
    height: fit-content;
  }
  .carousel-caption h2 {
    font-size: 1.3em;
  }
  .carousel-caption h3 {
    font-size: 0.9em;
  }
  .carousel-caption .button {
    padding: 4px 10px;
    font-size: 0.9em;
  }
}

@media (max-width: 377px) {
  .testimonial {
    height: 450px;
  }
  .carousel-item {
    height: fit-content;
  }
  .carousel-caption {
    margin: 0;
  }
}
