.container{
  margin-top: 7em;
}

.listing {
  padding: 20px;
  display: block;
  text-align: center;
  background-color: inherit;
}

.listing-item {
  margin: 10px auto;
}

.listing-text h4{
    font-size: 1.2rem;
}

.listing-text p{
    font-weight: 500;
}

.button {
  margin: 20px auto;
  font-weight: 600;
  padding: 5px 12px;
  color: #ffffff;
  cursor: pointer;
  border-radius: 20px;
  background: #2c98d6;
  box-shadow: 2px 2px 3px #131313, -2px -2px 3px #131313;
}

.button:hover {
  color: #ffffff;
}

.blue-header {
  color: #2c98d6;
  margin: 10px auto;
}
