* {
    border: 0;
    margin: 0;
    box-sizing: border-box;
  }
  
  body {
    font-size: 18px;
    background-color: #fefefe;
    color: #0e0e0e;
    scroll-behavior: smooth;
  }
  h1 {
    font-size: 3rem;
  }
  
  h3 {
    font-size: 2rem;
  }
  
  h4 {
    font-size: 1.5rem;
  }
  h1,
  h2,
  h3,
  h4 {
    font-weight: 700;
  }
  
  /*    -----------   navbar ------------  */
  .nav {
    padding: 15px;
    background-color: #26272b;
    width: 100%;
    top: 0;
    display: flex;
    justify-content: space-between;
    position: fixed;
    z-index: 100;
    color: #ffffff;
    box-shadow: -3px -3px 7px #000000, 2px 2px 5px #000000;
  }
  
  .nav-links {
    display: flex;
    flex-direction: row;
    text-transform: uppercase;
    font-weight: 600;
    margin: auto 40px;
  }
  .nav-links a {
    padding: 10px;
    color: #ffffff;
  }
  
  .nav .active {
    color: #2c98d6;
  }
  .nav .active:hover {
    color: #ffffff;
  }
  .nav a:hover {
    color: #2c98d6;
    text-decoration: none;
  }
  .nav-links .btn {
    background-color: #2c98d6;
    color: #ffffff;
    margin-right: 7px;
  }
  .nav-links .btn:hover {
    background-color: #ffffff;
    color: #2c98d6;
  }
  #ham {
    display: none;
    cursor: pointer;
  }
  
  .bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    background-color: #dedede;
    border-radius: 20px;
  }
  .navbar-brand {
    color: #ffffff;
  }
  .navbar-brand span {
    color: #2c98d6;
  }
  
  .darkmode{
    z-index: 100;
    position: fixed;
    top: 90px;
    right: 20px;
  }
  .darkmode .fa{
    background-color: #26272b;
    border-radius: 50%;
    font-size: 1.8em;
    padding: 8px;
    color: #000000;
    cursor: pointer;
    box-shadow: 2px 2px 5px #101010;
  }
  
  .dark-mode-bg{
    background-color: #121212;
    color: #eeeeee;
  }
  /*    -----------   footer  ------------  */
  .site-footer {
    background-color: #26272b;
    padding: 45px 0 20px;
    font-size: 15px;
    line-height: 24px;
    color: #737373;
  }
  .site-footer hr {
    border-top-color: #bbb;
    opacity: 0.5;
  }
  .site-footer hr.small {
    margin: 20px 0;
  }
  .site-footer h6 {
    color: #fff;
    font-size: 16px;
    text-transform: uppercase;
    margin-top: 5px;
    letter-spacing: 2px;
  }
  .site-footer a {
    color: #737373;
  }
  .site-footer a:hover {
    color: #3366cc;
    text-decoration: underline;
  }
  .footer-links {
    padding-left: 0;
    list-style: none;
  }
  .footer-links li {
    display: block;
  }
  .footer-links a {
    color: #737373;
  }
  .footer-links a:active,
  .footer-links a:focus,
  .footer-links a:hover {
    color: #3366cc;
    text-decoration: none;
  }
  .footer-links.inline li {
    display: inline-block;
  }
  .site-footer .social-icons {
    display: flex;
    flex-direction: row;
    padding: 10px;
    margin-left: -30px;
  }
  
  .social-icons a {
    color: #818a91;
    display: inline-block;
    margin: 3px;
    font-size: 1rem;
    border-radius: 100%;
    background-color: #ededed;
    padding: 12px;
    border-radius: 100%;
    -webkit-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    transition: all 0.2s linear;
  }
  .social-icons a:active,
  .social-icons a:focus,
  .social-icons a:hover {
    color: #fff;
    background-color: #29aafe;
  }
  .social-icons.size-sm a {
    line-height: 34px;
    height: 34px;
    width: 34px;
    font-size: 14px;
  }
  .social-icons a.facebook:hover {
    background-color: #3b5998;
  }
  .social-icons a.twitter:hover {
    background-color: #00aced;
  }
  .social-icons a.linkedin:hover {
    background-color: #007bb6;
  }
  .social-icons a.dribbble:hover {
    background-color: #ea4c89;
  }
  
  .fa-arrow-up{
    position: absolute;
    z-index: 10;
    border: none;
    right: 0;
    font-size: 20px;
    color: #000000;
    margin: 20px;
    background-color: #26272b;
    padding: 10px;
    border-radius: 50%;
    box-shadow:  -3px -3px 7px #000000, 2px 2px 5px #101010;
  }
  
  /* media queires for responsiveness */
  @media only screen and (max-width: 940px){
    .nav-links {
      background-color: #26272b;
      display: none;
      flex-direction: column;
      text-align: center;
      align-items: center;
      height: 100vh;
      width: 100%;
    }
    .show {
      display: flex;
    }
    .nav-links a,
    .nav-links .btn {
      margin: 15px 0;
      width: 30%;
    }
    #ham {
      display: block;
    }
    .darkmode{
    top: 80px;
    right: 10px;
  }
  .darkmode .fa{
    font-size: 1em;
    padding: 5px;
  }
  }