* {
  margin: 0;
  padding: 0;
  font-family: Montserrat, "Trebuchet MS", "Lucida Sans Unicode",
    "Lucida Grande", "Lucida Sans", Arial, sans-serif;
}
.profile {
  display: inline-block;
  width: 40px;
  height: 40px;
  margin-right: 10px;
  background:url(/LodgeMate-fe-pjt-11/images/house2.jpg);
  background-size: 40px 40px;
  border-radius: 50px;
}
/*        Cards Container        */
.card-container {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 30px;
}
.card-container .card-flex {
  position: relative;
  max-width: 300px;
  height: 420px;
  overflow: hidden;
  background: #000000;
  margin: 30px 10px;
  /* padding: 20px 15px; */
  display: flex;
  flex-direction: column;
  border-radius: 8px;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1);
}
.card-container .card-flex img-box {
  position: absolute;
  top: 0;
  left: 0;
  max-width: 100%;
  height: 100%;
  border-radius: 8px;
}
.card-container .card-flex:hover .img-box {
  transition: 0.8s;
  transform: scale(1.1);
}
.card-container .card-flex img {
  width: 700px;
  height: 420px;
}


.card-container .card-flex .half-bg {
  position: absolute;
  width: 100%;
  height: 45%;
  bottom: -100%;
  box-sizing: border-box;
  text-align: start;
  padding: 20px;
  transition: 0.6s;
}
.card-container .card-flex:hover .half-bg {
  background: linear-gradient(to top, #000, transparent);
  bottom: 0;
}
.card-container .card-flex .half-bg h2 {
  color: #fff;
  margin: 0 0 10px;
  padding: 0;
  font-size: 24px;
}
.card-container .card-flex .half-bg p {
  color: #81d7fc;
  font-size: 16px;
  line-height: 20px;
  width: 100%;
}
.card-container .card-flex .half-bg h3 {
  color: #fff;
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 14px;
}


@media screen and (max-width:1100px) {
  .card-container {
    width: 100%;
  }
}
